@model TGRC.Models.ImageDetailsViewModel

@{
    if(ViewBag.Frame == "yes")
    {
        Layout = "_LayoutFrame";
    }
}

<h2>Image Information</h2>

<div>
    <div class="form-group row">
        <label asp-for="image.Caption" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">            
            <textarea class="form-control-plaintext" readonly asp-for="image.Caption"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="taxon" class="col-sm-3 col-form-label">Taxon</label>
        <div class="col-sm-9">
            <input type="text" asp-for="taxon" readonly class="form-control-plaintext">
        </div>
    </div>
    @if(Model.genes.Any()){
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Gene (format:gene^allele)</label>
        <div class="col-sm-9">
            <ul class="list-group list-group-horizontal form-control-plaintext">
                @foreach (var gene in Model.genes)
                {
                    @if(ViewBag.Frame == "yes")
                    {
                        <li class="list-group-item"><a asp-route-frame="yes" asp-action="Detail" asp-controller="Genes" asp-route-id="@gene.Gene">@gene.Display</a></li>
                    } else {
                        <li class="list-group-item"><a asp-action="Detail" asp-controller="Genes" asp-route-id="@gene.Gene">@gene.Display</a></li>
                    }                    
                }
            </ul>
        </div>
    </div>
    }
    @if(Model.accession.Any()){
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">
            @if(Model.accession.Count > 1){
                <span>Accessions</span>
            } else {
                <span>Accession</span>
            }
        </label>
        <div class="col-sm-9">
            <ul class="list-group list-group-horizontal form-control-plaintext">
                @foreach (var acc in Model.accession)
                {
                     @if(ViewBag.Frame == "yes")
                    {
                        <li class="list-group-item"><a asp-route-frame="yes" asp-action="Detail" asp-controller="Accession" asp-route-id="@acc.AccessionNum">@acc.AccessionNum</a></li>
                    } else {
                        <li class="list-group-item"><a asp-action="Detail" asp-controller="Accession" asp-route-id="@acc.AccessionNum">@acc.AccessionNum</a></li>
                    }    
                }
            </ul>
        </div>
    </div>
    }
    @if(Model.colleagues.Any()){
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">
            @if(Model.colleagues.Count > 1){
                <span>Contributors</span>
            } else {
                <span>Contributor</span>
            }
            </label>
        <div class="col-sm-9">
            <ul class="list-group list-group-horizontal form-control-plaintext">
                @foreach (var col in Model.colleagues)
                {
                    <li class="list-group-item">@col.DisplayName</li>  
                }
            </ul>
        </div>
    </div>
    }
    <div>
        <a target="_blank" href="@($"{Model.image.Location}{Model.image.File}")"><img src="@($"{Model.image.Location}thumbnails/{Model.image.File}")"></a> (click for full size image)
    </div>
</div>


@section Scripts {
    <script type="text/Javascript">
        $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        });
    </script>
}