@model TGRC.Models.AccessionDetailsViewModel

@{
    if(ViewBag.Frame == "yes")
    {
        Layout = "_LayoutFrame";
    }
}


@{
    var donorI = 1;
    var donorCount = @Model.accession.Donors.Count;
    var categoryI = 1;
    var categoryCount = @Model.accession.Categories.Count;
    var cultureI = 1;
    var cultureCount = @Model.accession.Cultures.Count;    
}

<h2>Accession Details</h2>

<div>
    <div class="form-group row">
        <label asp-for="accession.AccessionNum" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input type="text" asp-for="accession.AccessionNum" readonly class="form-control-plaintext">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="accession.Status" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input type="text" asp-for="accession.Status" readonly class="form-control-plaintext">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="accession.Inspected" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input type="text" value="@(Model.accession.Inspected ?  "Yes" : "No" )" readonly class="form-control-plaintext">
        </div>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.accession.OtherId))
    {
        <div class="form-group row">
            <label asp-for="accession.OtherId" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.OtherId" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    <div class="form-group row">
        <label asp-for="accession.Taxon2" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input type="text" asp-for="accession.Taxon2" readonly class="form-control-plaintext">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="accession.Taxon" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input type="text" asp-for="accession.Taxon" readonly class="form-control-plaintext">
        </div>
    </div>
    @if(!String.IsNullOrEmpty(Model.accession.CultivarName))
    {
        <div class="form-group row">
            <label asp-for="accession.CultivarName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.CultivarName" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (Model.accession.Donors.Count > 0)
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                @if(Model.accession.Donors.Count > 1){
                    <span>Donors</span>
                } else {
                    <span>Donor</span>
                }
            </label>
            <div class="col-sm-9">
                <span class="form-control-plaintext">
                    @foreach (var donor in Model.accession.Donors)
                    {
                        if (donorI == donorCount)
                        {
                            @donor.Colleague.FullName()
                        }
                        else
                        {
                            <span>@donor.Colleague.FullName(); </span>
                        }
                        donorI += 1;
                    }
                </span>
            </div>
        </div>
    }
    @if(!String.IsNullOrWhiteSpace(Model.accession.SourceOfAccession))
    {
        <div class="form-group row">
            <label asp-for="accession.SourceOfAccession" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.SourceOfAccession" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.CollectionNum))
    {
        <div class="form-group row">
            <label asp-for="accession.CollectionNum" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.CollectionNum" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.SiteDetails))
    {
        <div class="form-group row">
            <label asp-for="accession.SiteDetails" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.SiteDetails" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.CollectionSite))
    {
        <div class="form-group row">
            <label asp-for="accession.CollectionSite" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.CollectionSite" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.ProvinceOrDepartment))
    {
        <div class="form-group row">
            <label asp-for="accession.ProvinceOrDepartment" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.ProvinceOrDepartment" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.Country))
    {
        <div class="form-group row">
            <label asp-for="accession.Country" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.Country" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (Model.accession.LatDeg != null || Model.accession.LatDec != null || Model.accession.LonDeg != null || Model.accession.LonDec != null)
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Latitude/longitude</label>
            <div class="col-sm-9">
                Latitude: @Model.accession.LatitudeCombined; Longitude: @Model.accession.LongitudeCombined
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.LatLonSource))
    {
        <div class="form-group row">
            <label asp-for="accession.LatLonSource" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.LatLonSource" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.Elevation))
    {
        <div class="form-group row">
            <label asp-for="accession.Elevation" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.Elevation" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.CollectionDate) || !String.IsNullOrWhiteSpace(Model.accession.CollectionMonth) ||
    !String.IsNullOrEmpty(Model.accession.CollectionYear))
    {
        <div class="form-group row">
            <label asp-for="accession.CollectionDateCombined" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.CollectionDateCombined" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.PopulationSize))
    {
        <div class="form-group row">
            <label asp-for="accession.PopulationSize" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.PopulationSize" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.SampleSize))
    {
        <div class="form-group row">
            <label asp-for="accession.SampleSize" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.SampleSize" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.Habitat))
    {
        <div class="form-group row">
            <label asp-for="accession.Habitat" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.Habitat" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if(!String.IsNullOrWhiteSpace(Model.accession.AssociatedBiota))
    { 
        <div class="form-group row">
            <label asp-for="accession.AssociatedBiota" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.AssociatedBiota" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if(!String.IsNullOrWhiteSpace(Model.accession.VegetationType))
    {
        <div class="form-group row">
            <label asp-for="accession.VegetationType" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.VegetationType" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.CollectionNotes))
    {
        <div class="form-group row">
            <label asp-for="accession.CollectionNotes" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <textarea class="form-control-plaintext" readonly asp-for="accession.CollectionNotes"></textarea>
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.MatingSystem))
    {
        <div class="form-group row">
            <label asp-for="accession.MatingSystem" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.MatingSystem" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if(!String.IsNullOrWhiteSpace(Model.accession.ChromosomeNum) && Model.accession.ChromosomeNum != "24")
    {
        <div class="form-group row">
            <label asp-for="accession.ChromosomeNum" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.ChromosomeNum" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if(!String.IsNullOrWhiteSpace(Model.accession.Traits))
    {
        <div class="form-group row">
            <label asp-for="accession.Traits" class="col-sm-3 col-form-label"></label>
            @* <div class="col-sm-9">
                <input type="text" asp-for="accession.Traits" readonly class="form-control-plaintext">
            </div> *@
            <div class="col-sm-9">
                <textarea class="form-control-plaintext" readonly asp-for="accession.Traits"></textarea>
            </div>
        </div>
    }
    @if(!String.IsNullOrWhiteSpace(Model.accession.KaryotypicalVariations))
    {
        <div class="form-group row">
            <label asp-for="accession.KaryotypicalVariations" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.KaryotypicalVariations" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if(!String.IsNullOrWhiteSpace(Model.accession.RelevantChromosome))
    {
        <div class="form-group row">
            <label asp-for="accession.RelevantChromosome" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.RelevantChromosome" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if (Model.accession.Cultures.Count > 0)
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                @if(Model.accession.Cultures.Count > 1){
                    <span>Horticultural Recommendations</span>
                } else {
                    <span>Horticultural Recommendation</span>
                }
            </label>
            <div class="col-sm-9">
                <span class="form-control-plaintext">
                    @foreach (var cult in Model.accession.Cultures)
                    {
                        if (cultureI == cultureCount)
                        {
                            @cult.Recommendation.Description
                        }
                        else
                        {
                            <span>@cult.Recommendation.Description;</span>
                        }
                        cultureI += 1;
                    }
                </span>
            </div>
        </div>
    }
    @if (!String.IsNullOrWhiteSpace(Model.accession.Comments))
    {
        <div class="form-group row">
            <label asp-for="accession.Comments" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <textarea class="form-control-plaintext" readonly asp-for="accession.Comments"></textarea>
            </div>
        </div>

    }
    @if (Model.accession.Categories.Count > 0)
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                @if(Model.accession.Categories.Count > 1){
                    <span>Categories</span>
                } else {
                    <span>Category</span>
                }
            </label>
            <div class="col-sm-9">
                <span class="form-control-plaintext">
                    @foreach (var cat in Model.accession.Categories)
                    {
                        if (categoryI == categoryCount)
                        {
                            @cat.AccessionCategory
                        }
                        else
                        {
                            <span>@cat.AccessionCategory;</span>
                        }
                        categoryI += 1;
                    }
                </span>
            </div>
        </div>
    }
    @if(Model.accession.AccessionYear.HasValue)
    {
        <div class="form-group row">
            <label asp-for="accession.AccessionYear" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="accession.AccessionYear" readonly class="form-control-plaintext">
            </div>
        </div>
    }
    @if(!String.IsNullOrWhiteSpace(Model.accession.Mta))
    {
        <div class="form-group row">
            <label asp-for="accession.Mta" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <a href="https://tgrc-mvc.plantsciences.ucdavis.edu/MTA/@Model.accession.Mta" class="form-control-plaintext">@Model.accession.Mta</a>
            </div>
        </div>
    }
    @if (Model.accession.Genes.Count > 0)
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                @if(Model.accession.Genes.Count > 1){
                    <span>Genes</span>
                } else {
                    <span>Gene</span>
                }
            </label>
            <div class="col-sm-9">
                <span class="form-control-plaintext">                   
                    <div class="col-12 border container row">                             
                       @foreach (var gene in Model.accession.Genes)
                        {              
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 border">
                                @if(ViewBag.Frame == "yes")
                                {
                                    <a asp-action="Detail" asp-controller="Genes" asp-route-id="@gene.Gene" asp-route-frame="yes">@gene.Display</a>
                                } else {
                                    <a asp-action="Detail" asp-controller="Genes" asp-route-id="@gene.Gene">@gene.Display</a>
                                }   
                            </div>     
                        }
                    </div>
                </span>
            </div>
        </div>
    }
    @if (Model.accession.Images.Count > 0)
    {
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
                @if(Model.accession.Images.Count > 1){
                    <span>Images</span>
                } else {
                    <span>Image</span>
                }
            </label>
            <div class="col-sm-9">
                <span class="form-control-plaintext">
                    <div class="col-12 border container row">                             
                        @foreach (var image in Model.accession.Images)
                        {              
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 border">
                                @if(ViewBag.Frame == "yes")
                                {
                                    <a target="resultFrame" asp-route-frame="yes" asp-action="detail" asp-controller="Images" asp-route-id="@image.Image.File"><img src="@($"{image.Image.Location}thumbnails/{image.Image.File}")"></a>
                                } else {
                                    <a asp-action="Detail" asp-controller="Images" asp-route-id="@image.Image.File"><img src="@($"{image.Image.Location}thumbnails/{image.Image.File}")"></a>
                                }   
                            </div>     
                        }
                    </div>
                </span>
            </div>
        </div>
    }
    @if((Model.accession.LatDec != null && Model.accession.LonDeg != null))
    {
        <div class="form-group text-center">
            <p class="bolded"><asp:label id="lblMap" runat="server" Visible="false" Text="Google Map:" /></p>
            <div id="map" style="width: 600px; height: 450px;" runat="server" visible="true"></div>  
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.APIKey&callback=initMap&v=weekly" defer></script>        
    }
</div>


@section Scripts {
    
    
    
    <script type="text/Javascript">
        $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        });

        function getPin(Icon)
        {
            switch (Icon) {
                case 'related':
                    return "https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|0000FF|000000";                             
                default:
                    return "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";            
            }
        }

        
        var locations = [@Html.Raw(Model.Markers)]
        $( document ).ready(function() {  
            @if((Model.accession.LatDec != null && Model.accession.LonDeg != null))
            {
                <text>
                var infowindow = new google.maps.InfoWindow;
                </text>
            }
           

           var marker, i;
            @if((Model.accession.LatDec != null && Model.accession.LonDeg != null))
            {
                <text>
                var bounds = new google.maps.LatLngBounds();
                </text>
            }
           

           for (i = 0; i < locations.length; i++) {
                @if((Model.accession.LatDec != null && Model.accession.LonDeg != null))
                {
                    <text>
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map,
                        icon: getPin(locations[i][3])
                    });
                    bounds.extend(marker.position);
                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            if(locations[i][0].includes(",")){
                                infowindow.setContent(locations[i][0]);
                            } else {
                                infowindow.setContent(locations[i][0]);
                            }
                            
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                    </text>
                }  
            }
            @if((Model.accession.LatDec != null && Model.accession.LonDeg != null))
            {
                <text>
                 map.fitBounds(bounds);     
                </text>
            }
                       
        }); 

        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 0, lng: 180 },
                zoom: 10,
                streetViewControl: false,
            });
        }

        window.initMap = initMap; 
             
    </script>
    
    
}