@model TGRC.Models.GeneDetailsViewModel

@{
    if(ViewBag.Frame == "yes")
    {
        Layout = "_LayoutFrame";
    }
}

<h2>Gene Details</h2>

<div>
    <table class="table">
        <thead>
            <th>Gene</th>
            <th>Locus Name</th>
            <th>Chromosome</th>
            <th>Arm</th>
            <th>Marker type</th>
        </thead>
        <tbody>
            <tr>
                <td>@Model.gene.Gene1</td>
                <td>@Model.gene.LocusName</td>
                <td>@Model.gene.Chromosome</td>
                <td>@Model.gene.Arm</td>
                <td>@Model.gene.MarkerType</td>
            </tr>
        </tbody>
    </table>
    @if(Model.alleles.Any()){
    <table class="table">
        <thead>
            <th>Allele</th>
            <th>Allele Name</th>
            <th>Synonyms</th>
            <th>Source</th>
            <th>Notes</th>
            <th>Phenotype</th>
            <th>Category/Primary</th>
        </thead>
        <tbody>
            @foreach (var allele in Model.alleles)
            {
                <tr>
                    <td>@allele.Allele</td>
                    <td>@allele.AlleleName</td>
                    <td>@allele.SynonymsOfAllele</td>
                    <td>@allele.MutantType</td>
                    <td>@allele.Notes</td>
                    <td>@allele.Phenotype</td>
                    <td>
                        <table class="table">                          
                            @if(allele.PhenoTypeDetails.Any()){
                                @foreach (var pheno in allele.PhenoTypeDetails.OrderByDescending(p => p.PrimaryPhenotype).ThenBy(p => p.PhenotypicalCategory))
                                {
                                    <tr>                                       
                                        <td>@pheno.Category.Description</td>
                                        <td>@pheno.PrimaryPhenotype</td>
                                    </tr> 
                                }
                            }
                        </table>

                    </td>   
                </tr>
            }            
        </tbody>
    </table>
    } else {
        <h4>No Alleles found.</h4>
    }
    @if(Model.accessions.Any()){
    <div class="col-12 border container row">
        <h5>Accession Links (active only)</h5>        
        @foreach (var acc in Model.accessions)
        {
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 border">
                @if(ViewBag.Frame == "yes")
                {
                    <a asp-route-frame="yes" asp-action="detail" asp-controller="Accession" asp-route-id="@acc.AccessionNum">@acc.AccessionNum</a>
                } else {
                    <a asp-action="detail" asp-controller="Accession" asp-route-id="@acc.AccessionNum">@acc.AccessionNum</a>
                }   
            </div>
        }
    </div>
    } else {
        <h4>No active Accessions found with this gene</h4>
    }
    @if(Model.images.Any()){
    <div class="col-12 border container row">
        <h5>Image Links</h5>        
        @foreach (var image in Model.images)
        {              
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 border">
                @if(ViewBag.Frame == "yes")
                {
                    <a asp-route-frame="yes" asp-action="detail" asp-controller="Images" asp-route-id="@image.Image.File"><img src="@($"{image.Image.Location}thumbnails/{image.Image.File}")"></a>
                } else {
                    <a asp-action="detail" asp-controller="Images" asp-route-id="@image.Image.File"><img src="@($"{image.Image.Location}thumbnails/{image.Image.File}")"></a>
                }   
            </div>     
        }
    </div>
    }
</div>